body {
	font-family: sans-serif;
}

h1 {
	display: inline-block;
	margin-right: 2em;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.room {
	margin: 1em 0;
}

.room .name, .room .alias, .room .userCount {
	display: inline-block;
	margin-right: 1em;
}

.room .name {
	font-weight: bold;
}

.room .alias {
	color: rgb(58, 58, 58);
}
